#back-button {
    list-style-image: url(button-back.png) !important;
}

#forward-button {
    list-style-image: url(button-foward.png) !important;
}

#reload-button {
    list-style-image: url(button-reload.png) !important;
}

/*hide download progress bar*/
#downloads-indicator-progress-outer { display: none; }
#downloads-indicator-icon {
    background-image: url(button-download.png) !important;
}

#history-panelmenu {
    list-style-image: url(button-history.png) !important;
}

#PanelUI-menu-button {
    list-style-image: url(button-menu.png) !important;
}

#PlacesChevron,
#nav-bar-overflow-button {
    list-style-image: url(button-overflow.png) !important;
}

#bookmarks-menu-button {
    list-style-image: url(button-bookmarks-menu.png) !important;
}

#stop-button {
    list-style-image: url(button-stop.png) !important;
}

#tabs-newtab-button {
    list-style-image: url(button-new-tab.png) !important;
}

.tab-close-button {
    list-style-image: url(button-close.png) !important;
}
