/* FVWM Border */

.tabbrowser-tab {
    border-image-source: url(tab-border.png);
    border-width: 4px !important;
    border-style: solid;
    border-image-slice: 4;
}

.tabbrowser-tab .tab-content {
    background-color: #B4AA94 !important;
    color: #524C2A !important;
    padding: 0px 9px !important;
}

.tabbrowser-tab[selected="true"] .tab-content {
    background-color: #006E6E !important;
    color: #FFF !important;
    text-shadow: -1px 0 0 #000;
}

.tabbrowser-tab[selected="true"] {
    border-image-source: url(tab-border-active.png);
}

.tabbrowser-tab .tab-content {
    background-image: url(tab-bg-inactive.png);
}

.tabbrowser-tab[selected="true"] .tab-content {
    background-image: url(tab-bg-active.png);
}
