/* FVWM Flat */

.tabbrowser-tab {
    border: 1px solid #ECE8E0 !important;
    border-right: 1px solid #59554B !important;
    border-bottom: 1px solid #59554B !important;
    outline: 1px solid #59554B;
    font-family: Dina;
    font-size: 9px;
    text-shadow: -1px 0 0 #908877;
}

.tabbrowser-tab[selected="true"] {
    border: 1px solid #009A9A !important;
    border-right: 1px solid #0D2929 !important;
    border-bottom: 1px solid #0D2929 !important;
    outline: 1px solid #0D2929;
}

.tabbrowser-tab .tab-content {
    background-color: #B4AA94 !important;
    color: #222222 !important;
    padding: 2px 9px !important;
}

.tabbrowser-tab[selected="true"] .tab-content {
    background-color: #006E6E !important;
    
    color: #FFF !important;
    text-shadow: -1px 0 0 #000;
}

.tabbrowser-tab .tab-content {
    background-image: url(tab-bg-inactive.png);
}

.tabbrowser-tab[selected="true"] .tab-content {
    background-image: url(tab-bg-active.png);
}
