/* FVWM Border */

.tabbrowser-tab {
    border-image-source: url(tab-border.png);
    border-width: 4px !important;
    border-style: solid;
    border-image-slice: 4;
    box-shadow: 2px 2px 1px #00000095 !important;
}

.tabbrowser-tab .tab-content {
    background-color: #B4AA94 !important;
    /*color: #524C2A !important;*/
    padding: 0px 9px !important;
    height: 19px;
}

.tabbrowser-tab[selected="true"] .tab-content {
    background-color: #006E6E !important;
    color: #FFF !important;
    /*text-shadow: -1px 0 0 #000;*/
}

.tabbrowser-tab[selected="true"] {
    border-image-source: url(tab-border-active.png);
}

.tabbrowser-tab .tab-content {
    background-image: url(pattern-noise-2.png);
}

.tabbrowser-tab[selected="true"] .tab-content {
    background-image: url(pattern-noise-2.png);
}

#titlebar {
    -moz-window-dragging: no-drag !important;
}

#nav-bar,
#TabsToolbar .toolbar-items {
    background-image: url(pattern-noise-2.png) !important;
}

.toolbarbutton-badge {
    font-family: scientifica !important;
    color: #FFF !important;
    font-size: 10px !important;
    overflow: hidden !important;
    margin-top: -4px !important;
    padding: 0px 0px 1px 1px !important;
    background: #555 !important;
}

toolbar .webextension-browser-action,
#PlacesToolbarItems .bookmark-item {
    filter: drop-shadow(1px 1px 0px #00000090)
}

.tabbrowser-tab {
    margin-left: 4px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    box-shadow: none;
    background-color: #353535 !important;
    min-height: 20px !important;
}

.tabbrowser-tab[first-visible-tab="true"] {
    margin-left: 5px !important;
}

.tabbrowser-tab:after { 
    display: none !important;
}

.tabbrowser-tab .tab-close-button {
    display: none !important;
}

.tabbrowser-tab:not([pinned]):hover .tab-close-button {
    display: block !important;
}

.tabbrowser-tab .tab-close-button:hover {
    cursor: pointer;
}

#tabbrowser-tabs {
    --tab-line-color: none;
}

.tab-background {
    border-top-color: none !important;
    display: none !important;
}

.tab-throbber,
.tab-throbber-tabslist,
.tab-icon-pending,
.tab-icon-image,
.tab-sharing-icon-overlay {
    margin-bottom: 2px;
}

.tab-throbber:not([pinned]),
.tab-sharing-icon-overlay:not([pinned]),
.tab-icon-pending:not([pinned]),
.tab-icon-image:not([pinned]) {
    margin-inline-end: 10px;
}


.toolbarbutton-animatable-box {
    display: none !important;
}

#identity-box {
    display: none !important;
}

#nav-bar .toolbarbutton-1 {
    padding: 0px 0px !important;
}

#nav-bar #nav-bar-overflow-button,
#nav-bar #nav-bar-customization-target > toolbarbutton,
#nav-bar #nav-bar-customization-target > toolbaritem textbox,
#nav-bar #nav-bar-customization-target #stop-reload-button > toolbarbutton {
    margin-top: 2px !important;
    margin-bottom: 1px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding: 0 !important;
}

#nav-bar .toolbarbutton-1 .toolbarbutton-badge {
    -moz-margin-end: -5px !important;
}

#nav-bar {
    box-shadow: none !important;
    border-width: 1px 1px 0px 1px !important;
    border-style: solid !important;
    border-left-color: #FFFFFF !important;
    border-right-color: #A1947E !important;
    border-top-color: #FFFFFF !important;
    padding: 0px;
    padding-bottom: 1px !important;
}

#navigator-toolbox {
    border-color: #A1947E !important;
}

#urlbar,
#searchbar {
    min-height: 0px !important;
    height: 20px !important;
    padding-top: 1px !important;
    margin: 0 5px !important;
    border-radius: 0px !important;
    border-color: #A1947E #FFFFFF #FFFFFF #A1947E !important;
}

#urlbar-input {
    padding: 0 7px !important;
}

.searchbar-search-icon {
    width: 8px !important;
    margin-inline-start: 6px !important;
    margin-inline-end: 10px !important;
}

.searchbar-search-button {
    width: 20px !important;
    min-width: 0px !important;
}

.searchbar-textbox {
    padding-left: 0px !important;
}

:root {
    --toolbarbutton-inner-padding: 4px !important;
    /*--in-content-page-background: */
}

/* fix white flash before page load */
#browser vbox#appcontent tabbrowser,
#content,
#tabbrowser-tabpanels,
browser[type=content-primary],
browser[type=content] > html {
    background: #D8D0C2 !important;
}


#back-button,
#forward-button,
#reload-button,
#downloads-indicator-progress-outer,
#downloads-indicator-icon,
#history-panelmenu,
#PanelUI-menu-button,
#PlacesChevron,
#nav-bar-overflow-button,
#bookmarks-menu-button,
#stop-button,
#tabs-newtab-button {
    fill: #006A6A !important;
    filter: drop-shadow(1px 1px 0px #000000);
}

.tab-close-button {
    fill: #D73030 !important;
    filter: drop-shadow(1px 1px 0px #000000);
}

#back-button {
    /*list-style-image: url(button-back.png) !important;*/
}

#forward-button {
    /*list-style-image: url(button-foward.png) !important;*/
}

#reload-button {
    /*list-style-image: url(button-reload.png) !important;*/
}

/*hide download progress bar*/
/*#downloads-indicator-progress-outer { display: none; }*/
#downloads-indicator-icon {
    /*background-image: url(button-download.png) !important;*/
}

#history-panelmenu {
    /*list-style-image: url(button-history2.png) !important;*/
}

#PanelUI-menu-button {
    /*list-style-image: url(button-menu.png) !important;*/
}

#PlacesChevron,
#nav-bar-overflow-button {
    /*list-style-image: url(button-overflow.png) !important;*/
}

#bookmarks-menu-button {
    /*list-style-image: url(button-bookmarks-menu.png) !important;*/
}

#stop-button {
    /*list-style-image: url(button-stop.png) !important;*/
}

#tabs-newtab-button {
    /*list-style-image: url(button-new-tab.png) !important;*/
}

.tab-close-button {
    /*list-style-image: url(button-close.png) !important;*/
}
